<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Error</title>
	<link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
	<h2>The given schema is invalid 😕</h2>
	<p style="color: red" th:text="${error.message}"/>
	<p><b th:if="${error.cause}" th:text="${error.cause.message}"/></p>
	<p>See more details in the log</p>
	<p><a href="javascript:history.back()">Try again</a></p>

	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/popper.js/1.15.0/umd/popper.min.js"></script>
	<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</div>
</body>
</html>