<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>EDMX validation</title>
	<link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
	<div>
		<h1>Validate EDMX Schema</h1>
		<form action="#" th:action="@{/validateEdmx}" th:object="${edmxForm}" method="post" enctype="multipart/form-data">
			<p><textarea th:field="*{edmxSchema}" rows="35" cols="70" spellcheck="false"
						 placeholder="Paste EDMX here or upload a file containing schema" name="edmx"/>
			</p>
			<p>
				<input class="btn btn-outline-secondary" type="file" accept=".edmx,.xml,.txt" name="file">
			</p>
			<p>
				<input class="btn btn-outline-primary" type="submit" value="Submit"/>
				<input class="btn btn-outline-danger" type="reset" value="Clear"/>
			</p>
		</form>
	</div>
	<script src="webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</div>
</body>
</html>