<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Generate Payload</title>
	<link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container"><br/>
	<div class="alert alert-success">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
		<strong>Good news!</strong> Your schema is valid
	</div>
</div>
<div class="container">
	<div class="dropdown" th:if="${not #lists.isEmpty(entityTypes)}" id="generate-payload">
		<p>Please specify the type you wish to generate a sample payload for:</p>
		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
			Entity Type
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
			<a class="dropdown-item" href="#" th:each="entity : ${entityTypes.entityNames}" th:text="${entity}"/>
		</div>
	</div>
	<!-- TODO Generate Payload here-->

	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/popper.js/1.15.0/umd/popper.min.js"></script>
	<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</div>
</body>
</html>